
@{
    ViewData["Title"] = "Hakkimizda";
}


<link href="~/css/HakkimizdaStyle.css" rel="stylesheet" />


<div class="jumbotron text-center mainHeader">
    <h1>Her İnsanın Bir Fikre Her Fikrinde Bir İnsana İhtiyacı Vardır</h1>
    <p>Fikirler kullanılmadıkça yararsızdır, onların değerinin kanıtı uygulanmalarıdır, o zamana kadar hapishanede sayılırlar.</p>
    <span class="text-right"><i>Lev Tolstoy</i></span>
</div>



<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
            <p class="paragraf">
                Fikirlerimize baskı yapılmadan rahatça ve özgürce anlatabilmeliyiz.Medium bu fikirlerin özgürce söylendiği ve genç beyinlerin buluştuğu yeni bir dünyadır.
                En iyi fikirler kim olduğumuzu değiştirebilir. Medium, bu fikirlerin şekillendiği, ortaya çıktığı ve güçlü sohbetler başlattığı yerdir. 170 milyon okuyucunun anlayışlı ve dinamik düşünceyi bulmaya geldiği açık bir platformuz. Burada, uzman ve keşfedilmemiş sesler, herhangi bir konunun kalbine dalar ve yeni fikirleri yüzeye çıkarır. Amacımız bu fikirleri yaymak ve dünya anlayışını derinleştirmek.

                Dijital yayıncılık için yeni bir model oluşturuyoruz. Nüansı, karmaşıklığı ve hayati öneme sahip hikaye anlatımını, reklamcılık teşviklerinden vazgeçmeden destekleyen bir program. Herkese açık olan ancak özü ve özgünlüğü destekleyen bir ortamdır. Okurlar ve yazarlar arasında kurulan daha derin bağlantıların keşif ve büyümeye yol açabileceği yer burasıdır. Milyonlarca ortak çalışanla birlikte, önemli fikirlerden ve onlar hakkında düşünen insanlardan beslenen güvenilir ve canlı bir ekosistem oluşturuyoruz.
                Başlıkta da belirtildiği gibi<i>"Her İnsanın Bir Fikre Her Fikrinde Bir İnsana İhtiyacı Vardır"</i> ve fikir saygıyı hak eder. İnsanlar korkmadan çekinmeden fikirlerini söyleyebilmelidir.Gelişmiş toplumlarda bu olmaktadır.Bizimde tüm gayretimiz bu alanada genç beyinleri teşvik etmemizdir.

            </p>

        </div>
    </div>
</div>
