
@{
    ViewData["Title"] = "Konu";
}


<!--w3 CSS Kütüphanesi-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/css/KonuStyle.css" rel="stylesheet" />


<div class="w3-container w3-teal">
    <h2>Konuları Keşfedin</h2>
</div>


<div class="w3-row-padding w3-margin-top">

    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://www.etu.edu.tr/files/editor_images/paint.png" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Resim-Sanat</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://www.felsefe.gen.tr/wp-content/uploads/2019/11/populer-kultur.jpeg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Popüler Kültür</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://w7.pngwing.com/pngs/667/592/png-transparent-world-health-organization-world-health-organization-logo-world.png" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Sağlık</h4>
            </div>
        </div>
    </div>

</div>
<div class="w3-row-padding w3-margin-top">

    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://www.investaz.com.tr/blog/wp-content/uploads/2018/05/sanayi-uretimi-endeksi-810x348.jpg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Sanayi</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://www.iklimhaber.org/wp-content/uploads/2020/08/bb.png" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Organik Tarım</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://iasbh.tmgrup.com.tr/19eefb/650/344/0/0/464/245?u=http://i.sabah.com.tr/sbh/2017/01/27/siyaset-felsefesi-nedir-1485514270722.png" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Siyaset</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://sites.google.com/site/yemekvemuzik/_/rsrc/1468748730392/yemek-tarifleri/indir.jpg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Yemek Tarifleri</h4>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://www.sivilsayfalar.org/wp-content/uploads/2018/05/3243542-1.jpg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Botanik</h4>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://www.nkfu.com/wp-content/uploads/2013/03/spor-1.jpg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Spor</h4>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://1.bp.blogspot.com/-kqv-ClDtGX8/YE0cA0nnYXI/AAAAAAAAIsY/mQpj2s5ATpMxOyfIyo6X_EdSTwxt_5etACLcBGAsYHQ/w1200-h630-p-k-no-nu/moda-nedir.jpg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Moda</h4>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://www.imajakademi.com.tr/wp-content/uploads/kisisel-gelisim.jpg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Kişisel Gelişim</h4>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card">
            <a asp-controller="Home" asp-action="KonularMakaleGoster">
                <img src="https://pbs.twimg.com/media/EYrw1P1XsAEjFNg.jpg" class="resimler">
            </a>
            <div class="w3-container">
                <h4>Turizm</h4>
            </div>
        </div>
    </div>

</div>