<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCPROJE2_BLOGPROJE.WEBUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/AnaSayfaStyle.css" rel="stylesheet" />

    <!--w3 CSS Kütüphanesi-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://d15omoko64skxi.cloudfront.net/wp-content/uploads/2015/05/Medium-logo-dark500-300x300.png" width="50" />
                </a>
                <div class="collapse navbar-collapse linkler">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Hakkimizda">Hakkımızda</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Konu">Konu</a>
                        </li>
                        <li class=" nav-item">
                            <!-- Button trigger modal -->
                            <a class="nav-link text-dark" href="#" data-toggle="modal" data-target="#exampleModal">
                                Admin  Girişi
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="dropbtn nav-link text-dark">Makaleleriniz</a>

                            <div class="dropdown-content">

                                <a asp-controller="Makale" asp-action="Create">Makale Ekleme Sayfası</a>

                                <a asp-controller="Makale" asp-action="IndexMakale">Makale Listeleme Sayfası</a>
                                <a asp-controller="Home" asp-action="KonularMakaleGoster">Makale Okuma Sayfası</a>
                                <a asp-controller="Home" asp-action="YazarDetaySayfasi">Yazar Detay Sayfası</a>
                            </div>

                        </li>

                        <li class="nav-item">


                            <div class="w3-container">


                                <a href="#" onclick="document.getElementById('id01').style.display='block'" class="nav-link text-dark">Ayarlar</a>

                                <div id="id01" class="w3-modal">
                                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                                        <div class="w3-center">
                                            <br>
                                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>





                                            @*<img src="~/resimler/@uye.KullaniciResim" class="rounded-circle" width="150" />*@



                                            <br />
                                            <br />

                                        </div>
                                        <div class="w3-center">

                                            <br />


                                        </div>

                                        <form class="w3-container" action="/action_page.php">
                                            <div class="w3-section">

                                                @*<partial name="_UyeUpdatePartial"/>*@
                                                @*<a class="btn btn-outline-success btn-block btnAyarlarLogin" asp-controller="Uye" asp-action="Update" model="@Model.Item2">Güncelle</a>*@

                                                <a class="btn btn-outline-success btn-block btnAyarlarLogin" asp-controller="Uye" asp-action="Update">Güncelle</a>

                                                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Hatırla
                                            </div>
                                        </form>

                                        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>




                                            <span class="w3-right w3-padding w3-hide-small"><a asp-controller="Uye" asp-action="Delete">Hesabı sil!</a></span>





                                            <span class="w3-right w3-padding w3-hide-small"><a asp-controller="Uye" asp-action="logout">Çıkış Yap</a></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Çıkış</a>
                        </li>
                    </ul>

                    }
                    else
                    {

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Giriş</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Üye Ol</a>
                            </li>

                        </ul>

                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <div class="jumbotron text-center bg-dark" style="background-color: black; border-radius: 0">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
                <h5 class="text-info">Daha fazla bilgi</h5>
                <p class="text-info">Medium sizin ve sevdiklerinizin düşüncelerinizi paylaşabildiği ve bilgi alışverişinde bulunabildiği bir özgür düşünce ortamıdır.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
                <h5 class="text-info">Medium Hesabınızı Oluşturun</h5>
                <p class="text-info">Medium hesabınızı hiçbir ücret vermeden çok kısa bir sürede yanlızca mail adresinizle oluşturabilirsiniz.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6">
                <h5 class="text-info">Düşüncelerinizi Paylaşın</h5>
                <p class="text-info">Medium her türlü düşüncelerin paylaşıldığı bir ortam sunar.</p>
            </div>
        </div>
    </div>

    <footer class="footer bg-dark text-muted" style="background-color:black">

        <div class="container">
            &copy; 2021 - Fake Medium - Bu Blog Sitesi Eğitim Amacıyla Yapılmıştır.

        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>



