
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
</head>
<body>
    <h1 class="d-flex justify-content-center">Üyelik İşleminiz Başarıyla Gerçekleştirilmiştir.</h1>
</body>
</html>
